personen.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"  xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="personen">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="persoon" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="voornaam"/>
                            <xs:element type="xs:string" name="achternaam"/>
                            <xs:element name="geslacht">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Man"/>
                                        <xs:enumeration value="Vrouw"/>
                                        <xs:enumeration value="Anders"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:string" name="haarkleur"/>
                            <xs:element type="xs:float" name="lengte"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
